# Configurações da API
API_HOST=0.0.0.0
API_PORT=8000

# Azure / LLM (Preencher no ambiente local)
AZURE_OPENAI_API_KEY=sua_chave_aqui
AZURE_OPENAI_ENDPOINT=seu_endpoint_aqui

# MLflow Tracking
MLFLOW_TRACKING_URI=http://localhost:5000

# Logging
LOG_LEVEL=INFO
